<h1>Listing category_participants</h1>

<table>
  <tr>
    <th>Feed</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @category_participants.each do |category_participant| %>
  <tr>
    <td><%= category_participant.feed_id %></td>
    <td><%= category_participant.category_id %></td>
    <td><%= link_to 'Show', category_participant %></td>
    <td><%= link_to 'Edit', edit_category_participant_path(category_participant) %></td>
    <td><%= link_to 'Destroy', category_participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category participant', new_category_participant_path %>
