<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#"><%= image_tag("templogo.png") %></a></h1>
			</div>
			<div id="menu">
				
			</div>
		</div>
	</div><!-- End Header-->

	<div id="page">
		<form id="usersearch">
			<p><input type="text" value="Search for individual or user feed" id="searchterms"><input type="submit" value="Search"></p>
		</form>
		<div id="feed-content-wrapper">
			<div id="feed-bg">
				<div class="feed-content">
					<h2><%= @category.name %></h2>
						<div id="column1">
						<% @column1.length.times do |x| %>
							<a href=../articles/<%= @column1[x].id %>><h2 class="title"><%= @column1[x].name %></h2><br></a>
							<div class="fbox1">
							</div>
							<br>
						<% end %>
					</div>

					<div id="column2">
						<% @column2.length.times do |x| %>
							<a href=../articles/<%= @column2[x].id%>><h2 class="title"><%= @column2[x].name %></h2><br></a>
							<div class="fbox2">
							</div>
							<br>
						<% end %>
					</div>

				</div>
			</div>
		</div>
	</div>
		<!-- end #content -->
	
</div>
<div id="footer">
	<p>Copyright (c) 2013 Sitename.com. All rights reserved.</p>
</div>
<!-- end #footer -->